build/
build*/
.DS_Store
Thumbs.db
**/.vscode/
.vs
*.iml
.idea
CMakeSettings.json
libicsneoc-example/Debug
libicsneocsharp-example/obj
libicsneocsharp-example/build
libicsneocsharp-example/bin/
*/out
*.log